@model FoxNetSoft.Plugin.Misc.Articles.Models.ArticleDetailsModel
@inject IWorkContext workContext
@using Nop.Web.Framework.UI
@using Nop.Core
@using FoxNetSoft.Plugin.Misc.Articles.Helpers
@{
    Html.AddCssFileParts(ResolveViewPathHelper.GetThemesCSSPath("styles.css"));
    var supportRtl = workContext.WorkingLanguage.Rtl;
    if (supportRtl)
    {
        Html.AddCssFileParts(ResolveViewPathHelper.GetThemesCSSPath("styles.rtl.css"));
    }
    //title
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Title);
}
<div class="page articlepost-page">
    <div class="page-title">
        <h1>@Model.Title</h1>
    </div>
    <div class="page-body">
        <div class="post-body">
            @Html.Raw(Model.Body)
        </div>
    </div>
</div>
