################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/nopCommerce_4.10_Source/.vs/NopCommerce/v15/Server/sqlite3

# User-specific files
*.suo
*.user
*.sln.docstates
*.lock.json
*.nuget.targets
*.nuget.props

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
build/
bld/
[Bb]in/
[Oo]bj/
*.lock.json

# Roslyn cache directories
*.ide/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

#NUNIT
*.VisualState.xml
TestResult.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c
/nopCommerce_4.10_Source/Presentation/Nop.Web/Plugins/Nop.Plugin.Api/Nop.Web.Framework.pdb
/nopCommerce_4.10_Source/Presentation/Nop.Web/Plugins/Nop.Plugin.Api/Nop.Web.Framework.dll
/nopCommerce_4.10_Source/Presentation/Nop.Web/Plugins/Nop.Plugin.Api/Nop.Services.pdb
/nopCommerce_4.10_Source/Presentation/Nop.Web/Plugins/Nop.Plugin.Api/Nop.Services.dll
/nopCommerce_4.10_Source/Presentation/Nop.Web/Plugins/Nop.Plugin.Api/Nop.Data.pdb
/nopCommerce_4.10_Source/Presentation/Nop.Web/Plugins/Nop.Plugin.Api/Nop.Data.dll
/nopCommerce_4.10_Source/Presentation/Nop.Web/Plugins/Nop.Plugin.Api/Nop.Core.pdb
/nopCommerce_4.10_Source/Presentation/Nop.Web/Plugins/Nop.Plugin.Api/Nop.Core.dll
