@model FoxNetSoft.Plugin.Misc.Articles.Models.Admin.ArticleGroupModel
@using Nop.Services.Events
@using Nop.Web.Framework.Events
@inject IEventPublisher eventPublisher

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-12 clearfix">
                <div class="pull-left">
                </div>
            </div>
        </div>
        <nop-tabs id="articlegroup-edit">
            <nop-tab asp-name="tab-info" asp-title="@T("Admin.FoxNetSoft.Plugin.Misc.Articles.ArticleGroup.Tab.Info")" asp-default="true">@await Html.PartialAsync(Model.PathView + "_CreateOrUpdate.Info.cshtml", Model)</nop-tab>
            <nop-tab asp-name="tab-seo" asp-title="@T("Admin.Common.SEO")">@await Html.PartialAsync(Model.PathView + "_CreateOrUpdate.SEO.cshtml", Model)</nop-tab>
            <nop-tab asp-name="tab-articles" asp-title="@T("Admin.FoxNetSoft.Plugin.Misc.Articles.ArticleGroup.Tab.Articles")">@await Html.PartialAsync(Model.PathView + "_CreateOrUpdate.Articles.cshtml", Model)</nop-tab>
        </nop-tabs>
    </div>
</div>
@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "articlegroup-edit");
    eventPublisher.Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}
