@using Nop.Plugin.Api.Common.Constants
@using Nop.Plugin.Api.Common.Models
@using Nop.Plugin.Api.Modules.Client.Model
@model Nop.Plugin.Api.Modules.Client.Model.ClientApiModel

<div class="panel-group">
    <div class="panel panel-default">
        @await Html.PartialAsync(ViewNames.AdminApiClientsSettings, Model)
    </div>
</div>
